<launch>
  <arg name="driver_config" default="$(find spot_driver)/config/spot_ros.yaml"/>

  <include file="$(find spot_description)/launch/description.launch" />
  <include file="$(find spot_driver)/launch/control.launch" />
  <include file="$(find spot_driver)/launch/accessories.launch" />

  <node pkg="spot_driver" type="spot_ros" name="spot_ros"  ns="spot" output="screen">
    <rosparam file="$(arg driver_config)" command="load" />
    <remap from="joint_states" to="/joint_states"/>
    <remap from="tf" to="/tf"/>
  </node>

</launch>
